@font-face {
  font-family: "Intro";
  src: url(../fonts/intro.otf);
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab.ttf);
}
h1 {
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  font-size: calc(40px + 20 * (100vw / 1440));
  margin: 0;
}

.root {
}
.header {
  max-width: 93%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container-logo {
}
.container-logo__logo {
}
.container-basket {
}
.container-basket__button {
  text-decoration: none;
  border: none;
  border-radius: 100px;
  padding: 12px 20px;
  background: #5222d0;
  color: white;
  width: 115px;
  height: 60px;
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
}
.section {
  display: grid;
  grid-template-areas:
    "container-text container-img"
    "container-nav container-img";
}
.container-text {
  grid-area: container-text;
  display: grid;
  grid-template-rows: 40% 40% 20%;
  margin: 10% 1% 0 15%;
}
.container-text__title {
}
.container-text__subtitle {
}
.container-text__text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 160%;
  margin-top: 8%;
}
.container-text__link {
  max-height: 10%;
}
.container-text__button {
  text-decoration: none;
  border: none;
  border-radius: 100px;
  padding: 14px 24px;
  background: #5222d0;
  color: white;
  width: 50%;
  height: 5%;
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 35px;
}
.container-nav {
  grid-area: container-nav;
  margin-left: 10%;
}
.container-nav__list {
  display: flex;
  margin-top: 18%;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
.container-nav__link {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  color: #5222d0;
  text-decoration: none;
}
.container-img {
  grid-area: container-img;
  background-image: url(../images/background.svg);
  width: 59vw;
  height: 80vh;
}
.container-img__man {
  height: 95%;
  margin-left: 2%;
}
@media screen and (max-width: 767px) {
  h1 {
    font-weight: 300;
    font-size: calc(40px + (20 + 20 * 0.7) * ((100vw - 320px) / 1440));
  }
}
