@font-face {
  font-family: "Intro";
  src: url(../fonts/intro.otf);
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab.ttf);
}
h1 {
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  font-size: 3.75em;
  margin: 0;
}
img {
  max-width: 100%;
  min-height: 100%;
}
.root {
}
.header {
  max-width: 93%;
  margin: 0 auto;
  margin-top: 5%;
}
.container-logo {
}
.container-logo__logo {
}
.container-basket {
}
.section {
  display: grid;
  grid-template-areas:
    "container-text container-img"
    "container-nav container-img";
}
.container-text {
  grid-area: container-text;
  display: flex;
  flex-direction: column;
  margin: 10% 0 0 10%;
}
.container-text__title {
}
.container-text__subtitle {
}
.container-text__text {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 160%;
}
.container-text__link {
  margin-top: 8%;
  max-height: 10%;
}
.container-text__button {
  border: none;
  border-radius: 100px;
  padding: 14px 24px;
  background: #5222d0;
  color: white;
  width: 50%;
  height: 5%;
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 35px;
}
.container-nav {
  grid-area: container-nav;
}
.container-img {
  grid-area: container-img;
  background-image: url(../images/background.svg);
  width: 60vw;
  max-height: 80vh;
}
.container-img__man {
  width: 40vw;
  max-height: 77vh;
}
